<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "cinema1" class="eu.camillecroci.cst3130.coursework1.Cinema">
        <property name ="id" value="1"></property>
        <property name ="name" value="The good place"></property>
        <property name ="address" value="1 cheztamere road"></property>
        <property name ="phone" value="0836757575"></property>
        <property name ="companyName" value="Vue"></property>
        <property name ="cinemaNameUrl" value="acton"></property>
    </bean>

    <bean id = "defaultMovie" class="eu.camillecroci.cst3130.coursework1.Movie">
        <property name ="id" value="0"></property>
        <property name ="name" value="DefaultDefault"></property>
        <property name ="description" value="Default"></property>
        <property name ="url" value="www.default.com"></property>
    </bean>

    <bean id = "screening1" class="eu.camillecroci.cst3130.coursework1.Screening">
        <property name ="id" value="1"></property>
        <property name ="screeningDate" value="10/10/2020"></property>
        <property name ="movie" ref="defaultMovie"></property>
        <property name="cinema" ref="cinema1"></property>
        <property name ="details" value="3D"></property>
        <property name="url" value="www.url.com"></property>
    </bean>

    <bean id = "ticket1" class="eu.camillecroci.cst3130.coursework1.Ticket">
        <property name ="id" value="1"></property>
        <property name ="description" value="The evening ticket"></property>
        <property name ="price" value="12.45"></property>
        <property name ="day" value="weekdays"></property>
        <property name ="startHour" value="08"></property>
        <property name ="endHour" value="18"></property>
        <property name ="cinema" ref="cinema1"></property>
    </bean>

    <bean id="mySessionFactoryManager" class="eu.camillecroci.cst3130.coursework1.DAO.SessionFactoryManager"></bean>

    <bean id="myMovieDAO" class="eu.camillecroci.cst3130.coursework1.DAO.MovieDAO">
        <property name="sessionFactoryManager" ref="mySessionFactoryManager"></property>
    </bean>

    <bean id="myCinemaDAO" class="eu.camillecroci.cst3130.coursework1.DAO.CinemaDAO">
        <property name="sessionFactoryManager" ref="mySessionFactoryManager"></property>
    </bean>

    <bean id="myScreeningDAO" class="eu.camillecroci.cst3130.coursework1.DAO.ScreeningDAO">
        <property name="sessionFactoryManager" ref="mySessionFactoryManager"></property>
    </bean>

    <bean id="myTicketDAO" class="eu.camillecroci.cst3130.coursework1.DAO.TicketDAO">
        <property name="sessionFactoryManager" ref="mySessionFactoryManager"></property>
    </bean>

    <bean id="myWebscraperManager" class="eu.camillecroci.cst3130.coursework1.webscraper.WebScraperManager">
        <property name="webScrapersList">
            <list value-type="eu.camillecroci.cst3130.coursework1.webscraper.WebScraper">
                <ref bean="myVueWebScraper"></ref>
                <ref bean="myCineworldWebScraper"></ref>
            </list>
        </property>
    </bean>

    <bean id="myVueWebScraper" class="eu.camillecroci.cst3130.coursework1.webscraper.WebScraperVueCinema">
        <property name="cinemaDAO" ref="myCinemaDAO"></property>
        <property name="movieDAO" ref="myMovieDAO"></property>
        <property name="screeningDAO" ref="myScreeningDAO"></property>
    </bean>

    <bean id="myCineworldWebScraper" class="eu.camillecroci.cst3130.coursework1.webscraper.WebScraperCineworld">
        <property name="cinemaDAO" ref="myCinemaDAO"></property>
        <property name="movieDAO" ref="myMovieDAO"></property>
        <property name="screeningDAO" ref="myScreeningDAO"></property>
    </bean>

</beans>